= re_page_actions do
  - if can_close_task?(current_task)
    = link_to 'Close', task_path(current_task), class: 'btn btn-outline-danger', method: :delete, data: { confirm: 'Are you sure?' }
  - elsif current_task.is_closed? && can_create_task?
    = link_to 'Re-Open', reopen_task_path(current_task), class: 'btn btn-outline-info', method: :patch, data: { confirm: 'Are you sure?' }

  - if can_create_task?
    = link_to fork_task_path(current_task), class: 'btn btn-outline-info ms-1 me-2' do
      %i.bi.bi-diagram-2
      Fork
  - if can_edit_task?(current_task)
    = link_to 'Edit', edit_task_path(current_task), class: 'btn btn-outline-warning me-2'

.row
  .col-md-8
    = re_card_content do
      %h6.border-bottom.pb-2.mb-0
        = current_task.title
        %span.float-end.fs-5.text-muted ##{current_task.id}
      %p.mt-3.description
        - if current_task.description.present?
          #description-markdown= current_task.description
          #description-html.normal-text
        - else
          %p.text-muted.text-center No description
      = render partial: 'labels'

    = render partial: 'script_content'
    = render partial: 'comments', locals: { new_comment: @new_comment }

  .col-md-4
    - if display_owner?(current_task.owner)
      = re_card_content do
        %h5.section-title.mb-3 Requestor
        = render_user_info(current_task.owner, avatar_size: '40x40')

    = render partial: 'reviewers'
    = render partial: 'schedule'
    = render partial: 'status'
    = render partial: 'attachment_files'
    = render partial: 'actions'
    = render partial: 'activities'

= render partial: 'show_scripts'
