= re_page_actions do
  - if can_close_task?(current_task)
    = link_to 'Close', task_path(current_task), class: 'btn btn-outline-danger', method: :delete, data: { confirm: 'Are you sure?' }
  - elsif current_task.is_closed? && can_create_task?
    = link_to 'Re-Open', reopen_task_path(current_task), class: 'btn btn-outline-info', method: :patch, data: { confirm: 'Are you sure?' }

  - if can_edit_task?(current_task)
    = link_to 'Edit', edit_task_path(current_task), class: 'btn btn-outline-warning me-2'

.row
  .col-md-8
    = re_card_content do
      %h6.border-bottom.pb-2.mb-0
        = current_task.title
        %span.float-end.fs-5.text-muted ##{current_task.id}
      %p.mt-3.description
        - if current_task.description.present?
          #description-markdown= current_task.description
          #description-html
        - else
          %p.text-muted.text-center No description

    = re_card_content do
      - if current_task.script.blank?
        %p.text-center.text-muted.mt-3
          %i.bi.bi-quote.fs-5
          Script is empty!
      - else
        %h5.section-title.mb-3 Script
        #task-detail
          = link_to '#full-screen', class: 'btn', id: 'click2full' do
            %i.bi.bi-arrows-fullscreen
            %i.bi.bi-arrows-angle-contract
          #script-editor.collapsed= current_task.script
          = link_to '#detail', class: 'btn', id: 'click2detail' do
            %i.bi.bi-arrow-bar-down.me-2
            Click to detail

    = render partial: 'rails_execution/tasks/comments', locals: { new_comment: @new_comment }

  .col-md-4
    - if display_owner?(current_task.owner)
      = re_card_content do
        %h5.section-title.mb-3 Requestor
        = render_user_info(current_task.owner, avatar_size: '40x40')

    = render partial: 'reviewers'
    = render partial: 'status'
    = render partial: 'actions'
    = render partial: 'activities'

= render partial: 'show_scripts'
