.row
  .col-md-8
    = re_card_content do
      %h6.border-bottom.pb-2.mb-0
        = current_task.title
        %span.float-end.fs-5.text-muted ##{current_task.id}
      %p.mt-3.description
        - if current_task.description.present?
          #description-markdown= current_task.description
          #description-html
        - else
          %p.text-muted.text-center No description

    = re_card_content do
      %h5.section-title.mb-3 Script
      #task-detail
        = link_to 'Full Screen', '#full-screen', class: 'btn', id: 'click2full'
        #script-editor.collapsed= current_task.script
        = link_to '＋ Click to detail', '#detail', class: 'btn', id: 'click2detail'

    = render partial: 'rails_execution/tasks/comments', locals: { new_comment: @new_comment }

  .col-md-4
    - if display_owner?(current_task.owner)
      = re_card_content do
        %h5.section-title.mb-3 Requestor
        = render_user_info(current_task.owner, avatar_size: '40x40')

    - if display_decide?(current_task)
      = re_card_content do
        %h5.section-title
          What is your decision?
          .float-end= re_badge_color(task_reviewed_status(current_task))
        .row.mt-3
          .col= render_user_info(current_owner, avatar_size: '20x20')
          .col-6.text-end
            - unless task_reviewed_status(current_task)&.rejected?
              = link_to 'Reject', reject_task_path(current_task), method: :patch, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger'
            - unless task_reviewed_status(current_task)&.approved?
              = link_to 'Approve', approve_task_path(current_task), method: :patch, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-success'

    = render partial: 'status'
    = render partial: 'reviewers'
    = render partial: 'activities'

= render partial: 'show_scripts'
