!!!
%html
  %head
    %title Rails Execution
    %meta{ name: :viewport, content: 'width=device-width, initial-scale=1' }
    = csrf_meta_tags
    = favicon_link_tag 'executions/favicon.png'
    = stylesheet_link_tag 'executions/base'
    = javascript_include_tag 'executions/base'

  %body.bg-light.fw-light
    = render partial: 'rails_execution/shared/header'
    %main.container
      = render partial: 'rails_execution/shared/flash'
      = yield
